<div class="container" style="display: flex; flex-direction: column;">
    <button type="button" class="btn btn-success" (click)="onClick()">Generate Random String</button>
    <p class="badge text-bg-light text-info text-wrap m-2">
        {{value}}
    </p>
    <!-- <img src="{{imageUrl}}" alt=""> -->
    <!-- <img [src]="imageUrl" alt=""> -->
    <!-- <input value={{email}} type="text"> -->

    <input [(ngModel)]="email" type="text">
    <button type="submit" >save</button>
    <p>{{email}}</p>
</div>
