<!-- <app-random-string (click)="{}"></app-random-string>
<app-object-testing [students]="studentInfo"></app-object-testing> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-info m-2" href="/">First Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" (click)="changeColor($event)" [ngStyle]="{'color': homeColor}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/random-string" (click)="changeColor($event)" [ngStyle]="{'color': randomColor}">Random</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/object-testing" (click)="changeColor($event)" [ngStyle]="{'color': studentColor}">Student</a>
        </li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>
